@{
    ViewBag.Title = "Projektit";
}

<h2>Projektit</h2>
<table class="table table-bordered" id="projektitList">
    <thead>
        <tr>
            <th>Projekti id</th>
            <th>Nimi</th>
        </tr>
    </thead>
        <tbody>
        </tbody>
</table>
