<!--Toteutettu Ajax-kutsulla-->
@{
    ViewBag.Title = "Tunnit";
}
@section scripts {
    <script type="text/javascript">

        function päivitäTuntilistaus() {
            $.getJSON("/tunnit/getlist", null, function (json) {
                var tunnit = JSON.parse(json);
                var html = "";
                for (var t = 0; t < tunnit.length; t++) {
                    html += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
                        "<td>" + tunnit[t].TuntiId + "</td>" +
                        "<td>" + tunnit[t].ProjektiId + "</td>" +
                        "<td>" + tunnit[t].HenkiloId + "</td>" +
                        "<td>" + tunnit[t].Pvm + "</td>" +
                        "<td>" + tunnit[t].Tunnit + "</td>"
                    "</tr>\r\n";
                }
                $("#tunnitList tbody").html(html);
                
            });
        }
        $(function () {
            päivitäTuntilistaus();
        });
    </script>
    }
<h2>Tunnit</h2>

<table class="table table-bordered" id="tunnitList">
    <thead>
        <tr>
            <th></th>
            <th>Tunti id</th>
            <th>Projekti id</th>
            <th>Henkilö id</th>
            <th>Pvm</th>
            <th>Tunnit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
